<div class="display-stats mt border rounded p-2" *ngIf="globals.isStatsVisible">
  <div class="filters">
    <!-- Search input -->
    <input
      class="form-control form-control text-center"
      type="text"
      placeholder="Search"
      [(ngModel)]="appliedFilters.searchTerm"
      (input)="getStoredData()"
    />

    <div class="d-flex justify-content-around my-3">
      <!-- Range date picker filter -->
      <div>
        <div
          class="btn border px-5 py-3"
          *ngIf="!showDatePicker"
          (click)="toggleDatePicker()"
        >
          Date Range
        </div>
        <div *ngIf="showDatePicker">
          <input
            id="startDate"
            type="date"
            class="form-control"
            name="startDate"
            [(ngModel)]="appliedFilters.dateStart"
            (input)="getStoredData()"
            required
          />
          <input
            id="endDate"
            type="date"
            class="form-control"
            name="endDate"
            [(ngModel)]="appliedFilters.dateEnd"
            (input)="getStoredData()"
            required
          />
        </div>
      </div>

      <!-- Dropdowns for Type, Reoccuring, and Category filters -->
      <select
        #type
        class="btn border px-5 py-3"
        (change)="filterType(type.value)"
      >
        <option selected>Type</option>
        <option>Income</option>
        <option>Expense</option>
      </select>
      <select
        #reoccuring
        class="btn border px-5 py-3"
        (change)="filterReoccuring(reoccuring.value)"
      >
        <option selected>Reoccuring</option>
        @for (reoccuring of globals.reoccurings ; track reoccuring){
        <option value="{{ reoccuring }}">{{ reoccuring }}</option>
        }
      </select>
      <select
        #category
        class="btn border px-5 py-3"
        (change)="filterCategory(category.value)"
      >
        <option selected>Category</option>
        @for (category of globals.categories ; track category){
        <option value="{{ category }}">{{ category }}</option>
        }
      </select>
    </div>
  </div>

  <!-- Financial Data Table -->
  <table
    class="table table-responsive table-bordered text-center table-striped-columns caption-top"
  >
    <caption>
      Your Entires
    </caption>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Type</th>
        <th>Date</th>
        <th>Reoccuring</th>
        <th>Category</th>
        <th *ngIf="!this.globals.isFormVisible">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (data of paginatedData() ; track data ;let i = $index){
      <tr>
        <th>{{ i + 1 }}</th>
        <td>{{ data.name }}</td>
        <td>{{ data.amount }}</td>
        <td>{{ data.type }}</td>
        <td>{{ data.date }}</td>
        <td>{{ data.reoccuring }}</td>
        <td>{{ data.category }}</td>
        <!-- Actions column (Edit and Delete buttons) -->
        <td *ngIf="!globals.isFormVisible" class="p-0">
          <div class="btn-group w-100">
            <div class="btn btn-warning rounded-0" (click)="onEdit(data)">
              Edit
            </div>
            <div class="btn btn-danger rounded-0" (click)="onDelete(data.id)">
              Delete
            </div>
          </div>
        </td>
      </tr>
      }@empty {
      <!-- Display message if no data is available -->
      <td [colSpan]="8"><h2>Wow! So empty.</h2></td>
      }
    </tbody>
  </table>
  <!-- Pagination Controls -->
  <div class="text-center btn-group col-12 mb-3">
    <button
      class="btn border btn-light"
      (click)="currentPage = currentPage - 1"
      [disabled]="currentPage === 1"
    >
      Previous
    </button>
    <span class="border p-1 px-5">{{ currentPage }}</span>
    <button
      class="btn border btn-light"
      (click)="currentPage = currentPage + 1"
      [disabled]="currentPage * itemsPerPage >= totalItems"
    >
      Next
    </button>
  </div>

  <!-- Add Financial Data Button -->
  <div class="d-flex justify-content-end">
    <button
      class="btn btn-success px-5"
      *ngIf="!globals.isFormVisible"
      (click)="globals.toggleFormVisibility()"
    >
      Add
    </button>
  </div>
</div>
