<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="border border-top-0 p-2 rounded"
>
  <div class="row">
    <div class="mb-3 col-6">
      <label for="name">Name</label>
      <input
        id="name"
        type="text"
        class="form-control"
        name="name"
        formControlName="name"
        required
      />
    </div>

    <div class="mb-3 col-6">
      <label for="amount">Amount</label>
      <input
        id="amount"
        type="number"
        class="form-control"
        name="amount"
        formControlName="amount"
        required
      />
    </div>

    <div class="mb-3 col-6">
      <label for="date">Date</label>
      <input
        id="date"
        type="date"
        class="form-control"
        name="date"
        formControlName="date"
        required
      />
    </div>

    <div class="btn-group col-6 my-4">
      <select class="btn border" formControlName="type" id="type">
        <option disabled selected hidden>Type</option>
        <option>Income</option>
        <option>Expense</option>
      </select>
      <select class="btn border" formControlName="reoccuring">
        <option disabled selected hidden>Reoccuring</option>
        <option>Daily</option>
        <option>Weekly</option>
        <option>Monthly</option>
        <option>Yearly</option>
        <option>Other</option>
      </select>
      <select class="btn border" formControlName="category">
        <option disabled selected hidden>Category</option>
        <option>Utilities</option>
        <option>Housing</option>
        <option>Transportation</option>
        <option>Food</option>
        <option>Personal</option>
        <option>Entertainment</option>
        <option>Savings</option>
      </select>
    </div>
  </div>

  <div class="hstack gap-3">
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn btn-secondary" (click)="onCancel()">
      Cancel
    </button>
  </div>
</form>
