<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label class="mb-2 text-muted" for="name">Name</label>
    <input
      id="name"
      type="text"
      class="form-control"
      name="name"
      formControlName="name"
      required
    />
  </div>

  <div class="mb-3">
    <label class="mb-2 text-muted" for="amount">Amount</label>
    <input
      id="amount"
      type="number"
      class="form-control"
      name="amount"
      formControlName="amount"
      required
    />
  </div>

  <div class="mb-3">
    <label class="mb-2 text-muted" for="date">Date</label>
    <input
      id="date"
      type="date"
      class="form-control"
      name="date"
      formControlName="date"
      required
    />
  </div>

  <div class="mb-3">
    <label class="mb-2 text-muted" for="type">Type</label>
    <input
      id="type"
      type="text"
      class="form-control"
      name="type"
      formControlName="type"
      required
    />
  </div>
  <div class="mb-3">
    <label class="mb-2 text-muted" for="reoccuring">Reoccuring</label>
    <input
      id="reoccuring"
      type="text"
      class="form-control"
      name="reoccuring"
      formControlName="reoccuring"
      required
    />
  </div>
  <div class="mb-3">
    <label class="mb-2 text-muted" for="category">Category</label>
    <input
      id="category"
      type="text"
      class="form-control"
      name="category"
      formControlName="category"
      required
    />
  </div>

  <div class="hstack gap-3">
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn btn-secondary" (click)="form.reset()">
      Cancel
    </button>
  </div>
</form>
