<div class="row justify-content-center align-items-center vh-100">
  <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
    <div class="card shadow-lg">
      <div class="card-body p-5">
        <h1 class="fs-4 card-title fw-bold mb-4">Login</h1>
        <form (submit)="eLogin()" [formGroup]="loginForm">
          <div class="mb-3">
            <label class="mb-2 text-muted" for="email">Email Address</label>
            <input
              id="email"
              type="email"
              class="form-control"
              name="email"
              formControlName="email"
              required
              autofocus
            />
          </div>

          <div class="mb-3">
            <div class="mb-2 w-100">
              <label class="text-muted" for="password">Password</label>
            </div>
            <input
              id="password"
              type="password"
              class="form-control"
              name="password"
              formControlName="password"
              required
            />
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary col-6">Login</button>
          </div>
        </form>
      </div>
      <div class="card-footer py-3 border-0">
        <div class="text-center">
          Don't have an account?
          <a routerLink="/register" class="text-dark">Create One</a>
        </div>
      </div>
    </div>
  </div>
</div>
