<form [formGroup]="form" (ngSubmit)="onSubmit()" class="border p-2 rounded">
  <div class="row">
    <h2 class="text-center" *ngIf="!globals.isStatsVisible">Edit</h2>

    <div class="mb-3 col-6">
      <label for="name">Name</label>
      <input
        id="name"
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
        name="name"
        formControlName="name"
        required
      />
      @if (submitted && f['name'].errors) {
      <div class="invalid-feedback">
        @if (f['name'].errors['required']) {
        <div>Name is required!</div>
        }
      </div>
      }
    </div>

    <div class="mb-3 col-6">
      <label for="amount">Amount</label>
      <input
        id="amount"
        type="number"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['amount'].errors }"
        name="amount"
        formControlName="amount"
        required
      />
      @if (submitted && f['amount'].errors) {
      <div class="invalid-feedback">
        @if (f['amount'].errors['required']) {
        <div>Amount is required!</div>
        }
      </div>
      }
    </div>

    <div class="mb-3 col-6">
      <label for="date">Date</label>
      <input
        id="date"
        type="date"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['date'].errors }"
        name="date"
        formControlName="date"
        required
      />
      @if (submitted && f['date'].errors) {
      <div class="invalid-feedback">
        @if (f['date'].errors['required']) {
        <div>Date is required!</div>
        }
      </div>
      }
    </div>

    <div class="btn-group col-6 my-4">
      <select
        class="btn border"
        formControlName="type"
        [ngClass]="{
          'mb-3 border-danger text-danger': submitted && f['type'].errors
        }"
      >
        <option disabled selected hidden>Type</option>
        <option>Income</option>
        <option>Expense</option>
      </select>

      <select
        class="btn border"
        formControlName="reoccuring"
        [ngClass]="{
          'mb-3 border-danger text-danger': submitted && f['reoccuring'].errors
        }"
      >
        <option disabled selected hidden>Reoccuring</option>
        @for (reoccuring of reoccurings ; track reoccuring){
        <option value="{{ reoccuring }}">{{ reoccuring }}</option>
        }
      </select>
      <select
        class="btn border"
        formControlName="category"
        [ngClass]="{
          'mb-3 border-danger text-danger': submitted && f['category'].errors
        }"
      >
        <option disabled selected hidden>Category</option>
        @for (category of categories ; track category ){
        <option value="{{ category }}">{{ category }}</option>
        }
      </select>
    </div>
  </div>

  <div class="hstack gap-3">
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-secondary" (click)="onCancel()">
      Cancel
    </button>
  </div>
</form>
