<div class="m-5">
  <div class="card hstack gap-3 p-3">
    <h3>Budget Tracker</h3>
    <div class="vr"></div>
    <h4>Dashboard</h4>
    <div class="ms-auto btn-group">
      <div class="btn btn-secondary">
        {{ currentUser.name }}
      </div>
      <div class="ms-auto btn btn-danger" (click)="logout()">Logout</div>
    </div>
  </div>

  <div class="card my-5 p-3">
    <div class="d-flex justify-content-around text-center">
      <div>
        <h4>Total Income</h4>
        <h5>NRS {{ income }}</h5>
      </div>
      <div class="vr"></div>
      <div class="">
        <h4>Total Expense</h4>
        <h5>NRS {{ expense }}</h5>
      </div>
      <div class="vr"></div>
      <div>
        <h4>Balance</h4>
        <h5>NRS {{ balance }}</h5>
      </div>
    </div>
  </div>

  <div class="display-stats mt border rounded p-2">
    <input
      class="form-control form-control mb-5 text-center"
      type="text"
      placeholder="Search"
    />

    <table
      class="table table-responsive table-bordered text-center table-striped-columns caption-top"
    >
      <caption>
        Your Entires
      </caption>
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Amount</th>
          <th>Type</th>
          <th>Date</th>
          <th>Reoccuring</th>
          <th>Category</th>
        </tr>
      </thead>
      <tbody *ngFor="let data of storedData; let i = index">
        <tr>
          <th>{{ i + 1 }}</th>
          <td>{{ data.name }}</td>
          <td>{{ data.amount }}</td>
          <td>{{ data.type }}</td>
          <td>{{ data.date }}</td>
          <td>{{ data.reoccuring }}</td>
          <td>{{ data.category }}</td>
        </tr>
      </tbody>
    </table>
    <button
      type="submit"
      class="btn btn-success"
      *ngIf="!isFormVisible"
      (click)="toggleFormVisibility()"
    >
      Add
    </button>
  </div>

  <app-add-form *ngIf="isFormVisible" />
</div>
